<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="static/libs/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/libs/bootstrap4-toggle/css/bootstrap4-toggle.min.css" />
	<link rel="stylesheet" href="static/libs/tempusdominus-bootstrap-5.0.0-alph14/tempusdominus-bootstrap-4.min.css" />
	<link rel="stylesheet" href="static/libs/fontawesome-free-5.11.2-web/css/all.min.css" />

	<style>
	.table-hover tbody tr:hover {
		filter: brightness(85%);
	}
	</style>

    <title>ESP Swarm Updater</title>
  </head>
  <body>
    <h1>ESP Swarm Updater</h1>

	<script src="static/libs/jquery-3.4.1.min.js"></script>
	<script src="static/libs/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script src="static/libs/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
	<script src="static/libs/bootbox/bootbox.js"></script>
	<script src="static/libs/bootbox/bootbox.locales.js"></script>
	<script src="static/libs/moment_js/moment-with-locales.js"></script>

	<script type="text/javascript" src="static/libs/tempusdominus-bootstrap-5.0.0-alph14/tempusdominus-bootstrap-4.min.js"></script>

    <script src="static/api.js"></script>
    <script src="static/popform.js"></script>
    <script src="static/ui.js"></script>
  </body>
</html>
